{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Recommendation Result</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/reco_app/recommendation.css' %}">
</head>
<body>
    <div class="container">
        {% if error_message %}
            <script>
                alert("{{ error_message }}");
                window.location.href = "{{ redirect_url }}";
            </script>
        {% else %}
            <h1>Approved Title <br><h3>{{ title }}</h3></h1>
            <h2>Needed Expertise</h2>
            <p>{{ needed_expertise }}</p>
            <h2>Recommended Adviser</h2>
            <ol>
                {% for adviser in top_advisers %}
                    <li>{{ adviser.name }}</li>
                {% endfor %}
            </ol>

            <h2>All Matching Faculty</h2>
            <ul>
                {% for faculty in all_matching_faculty %}
                    <li>{{ faculty.name }}</li>
                {% endfor %}
            </ul>

            <!-- Form to submit additional data -->
            <form class="center-form">
                <label for="additional-info">Additional Information:</label>
                <textarea id="additional-info" name="additional-info" rows="4" cols="50"></textarea>
                <button type="button" class="no-print" onclick="printAndSave()">Print</button>
                <a href="{% url 'recommend_adviser' %}" class="btn btn-secondary mt-3">Back</a>
            </form>
        {% endif %}
    </div>
</body>
</html>
