{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Recommendation Result</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'admin/reco_app/recommendation.css' %}">
    <script>
        function printAndSave() {
            // Trigger the print dialog
            window.print();

            // After printing, send the data to the server to save the top adviser
            var topAdviserId = "{{ top_adviser_id }}";
            var title = "{{ title }}";

            fetch('/add_adviser/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ 'faculty_id': topAdviserId, 'title': title })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Top adviser successfully added to the database.');
                } else {
                    alert('There was an error adding the top adviser to the database.');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
    <div class="container">
        {% if error_message %}
            <script>
                alert("{{ error_message }}");
                window.location.href = "{{ redirect_url }}";
            </script>
        {% else %}
            <h1>Approved Title <br><h3>{{ title }}</h3></h1>
            <h2>Recommended Adviser</h2>
            <ol>
                {% for adviser in top_advisers %}
                    <li>{{ adviser.name }}</li>
                {% endfor %}
            </ol>

            <!-- Form to submit additional data -->
            <form class="center-form">
                <label for="additional-info">Additional Information:</label>
                <textarea id="additional-info" name="additional-info" rows="4" cols="50"></textarea>
                <button type="button" class="no-print" onclick="printAndSave()">Print</button>
                <a href="{% url 'recommend_adviser' %}" class="btn btn-secondary mt-3">Back</a>
            </form>
        {% endif %}
    </div>
</body>
</html>