{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Schedules for Pre Oral Defense</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/pre_oral/schedule_listPOD.css' %}">
    <style>
        @media print {
            .no-print {
                display: none;
            }
        }
        table th, table td {
            width: 16.66%;
        } 
    </style>
    <script>
        function printPage() {
            window.print();
        }
    </script>
</head>
<body>
    <center>
        <h1>Schedule for Upcoming Pre-Oral Defense</h1>
    </center>
    <div class="buttons">
        <form method="post">
            {% csrf_token %}
            {% if not grouped_schedulesPOD %}
                <h3 class="no-print">Schedule for the Pre Oral Defense is not yet set!!!</h3>
                <button class="btn btn-primary no-print" type="submit" name="generate_schedule_view_POD">Generate Schedule</button>
            {% else %}
                <button class="btn btn-primary no-print" type="submit" name="generate_again_POD">Generate Again</button>
            {% endif %}
        </form>  
        {% if grouped_schedulesPOD %}
            <button class="btn btn-secondary no-print" onclick="printPage()">Print</button>
        {% endif %}
        <button class="btn btn-secondary no-print" onclick="window.location.href='{% url 'admin_dashboard' %}'">Back</button>
    </div>

    {% if grouped_schedulesPOD %}
        {% for day_room, schedules in grouped_schedulesPOD.items %}
            <br>
            <h2 class="table-header">{{ day_room.0 }} - {{ day_room.1 }}</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Section</th>
                        <th>Names</th>
                        <th>Title</th>
                        <th>Panelists</th>
                        <th>Adviser</th>
                    </tr>
                </thead>
                <tbody>
                    {% for schedule in schedules %}
                        {% if schedule.lunch_break %}
                            <tr style="text-align: center; background-color: #650000; color:white;">
                                <td colspan="6" class="text-center">11:00 - 12:00 LUNCH BREAK</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ schedule.slot }}</td>
                                <td>{{ schedule.group.section }} ({{ schedule.group.capstone_teacher.name }})</td>
                                <td>{{ schedule.group.member1 }}<br>
                                    {{ schedule.group.member2 }}<br>
                                    {{ schedule.group.member3 }}</td>
                                <td>{{ schedule.group.title }}</td>
                                <td>{{ schedule.faculty1.name }}<br>
                                    {{ schedule.faculty2.name }}<br>
                                    {{ schedule.faculty3.name }}</td>
                                <td>{{ schedule.group.adviser.name }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% endif %}
    <br><br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>